
body {
    background-image: url('/Users/Dhrubo/Desktop/Flatiron_School/js-project/space-shooter-frontend/images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

.welcome{
    bottom: 80%;
    width: 200px;
    margin-top: 2em;
}
.welcome h1 {
    color: red;
    margin: 220px 0 0 230px;
}

#user-container  {
    width: 500px;
    height: 50px;
    position: absolute;
}

#new-user-nickname {
    display: flex;
    height: 30px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 220px 0 0 230px;
}

#main-play-area {
    width: 1260px;
    height: 580px;
    margin-top: 50px;
}

#player-ship {
    position: absolute;
    bottom: 30px;
}

.laser {
    width: 100px;
    height: 100px;
    position: absolute;
}

#ship-image {
    width : 50px;
    height: 50px;
    position: relative;
}

.active-enemy {
    width: 50px;
    height: 50px;
    position: absolute;
}

.fade-out {
    opacity: 1;
    transition: opacity 1.5s ease-out;
}

.dead-enemy {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
}

#header {
    top: 10px;
    opacity: 0.5;
}

#start-button {
        border: none;
        position: absolute;
        background: red;
        height: 35px;
        top: 50%;
        left: 50%;
        z-index: 1;
        margin: 238px 0 0 580px;
        font-weight:bold;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
      } 
#start-img {
    height: 150px;
    width: 150px;
}      

#score-counter {
    height: 50px;
    width: 170px;
    left: 10px;
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: left;
}

#exit-container {
    height: 50px;
    width: 150px;
    right: 10px;
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: left;
}

#exit-button{
        border: none;
        position: absolute;
        background: transparent;
        color: red;
        height: 35px;
        top: 50%;
        left: 50%;
        z-index: 1;
        font-weight:bold;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
}

#game-over {
    width: 50%;
    left: 25%;
    text-align: center;
    position: absolute;
}


#high-score {
    color: red;
    left: 35%;
    top: 50%;
    position: relative;
}

table {
  width: 30%;
}

th, td {
  border: 1px solid beige;
  padding: 10px;
  text-align: center;
}

#caption {
    color: rgb(5, 5, 10);
    background-color: brown;
    text-decoration: crimson;
    font-weight: bold;
    font-size: 25pt;
}

#nickname-container {
    color: red;
    font-size: x-large;
    margin-left: 100px;
    margin-right: 100px;
    /* margin: 25px 50px 75px 100px; */
}